<!DOCTYPE html>
<html>
    <head>
        <title>OpenPubkey: OpenID Providers</title>
        <style>
            body {
                text-align: center;
                font-family: Arial, sans-serif;
                background-color: #f0f0f0;
            }
            .g_id_signin {
                margin-top: 100px;
            }
        </style>
    </head>
    <body>
        <div>
        <h3>OpenPubkey:</h3>
        </div>
        <br>
        <div style="background-color: grey; padding: 20px; display: inline-block;">
        {{range .Providers}}
            <div>
                <a href="/select?op={{.Name}}">
                {{if .Button}}
                    <img src="static/buttons/{{.Button}}" alt="Sign in with {{.Name}}" style="width:200px;" />
                {{else}}
                <button style="width:200px; height:50px; background-color: #4CAF50; color: white; border: none; cursor: pointer;">
                    Sign in with {{.Name}}
                </button>
                {{end}}
                </a>
            </div>
            <br>
        {{end}}
        </div>

    </body>
</html>