<!DOCTYPE html>
<html>
    <head>
        <title>OpenPubkey: OpenID Providers</title>
        <style>
            body {
                text-align: center;
                font-family: Arial, sans-serif;
                background-color: #f0f0f0;
            }
            .g_id_signin {
                margin-top: 100px;
            }
        </style>
    </head>
    <body>
        <div>
        <h1>OpenPubkey OpenID Providers:</h1>
        </div>
        <br>
        <div style="display:{{.Google}};">
        <a href="/select?op=google"><img src="static/buttons/google-light.svg" alt="Sign in with Google" /></a>
        </div>
		<br>
        <div style="visibility:{{.Azure}};">
        <a href="/select?op=azure"><img src="static/buttons/azure-light.svg" alt="Sign in with Azure" /></a>
        </div>
    </body>
</html>