name: Go Checks

on:
  push:
    branches: [ "codecov" ]

permissions:
  contents: write
  pages: write

jobs:

  codecov:
    name: Push to main test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.20.8

    - name: Test
      run: go test ./...

    - name: Update coverage report
      uses: ncruces/go-coverage-report@v0
      with:
        report: true
        chart: true
        amend: true
      if: github.event_name == 'push'
      continue-on-error: true
